.portfolio{
    background: #fab702;
    padding: 30px 0;
}

h2.ui.header.portfolio__title::after {
    background: #fff;
}

.ui.images.portfolio__images {
    margin-top: 30px;
}
.portfolio__accordion{
    margin-top: 30px;
}
.portfolio__gallery{
    overflow: auto;
    padding-bottom: 20px;
}