.portfolio{
    border-top: 1px dashed #ededed;
    background: #f8f9f9;
    padding: 50px 0;
}

.ui.images.portfolio__images {
    margin-top: 30px;
}
.portfolio__accordion{
    margin-top: 30px;
}
.portfolio__gallery{
    overflow: auto;
    padding-bottom: 20px;
}

.portfolio__gallery .image-gallery-slide{
    background: transparent;
}
.portfolio__gallery .image-gallery-slide img {
    max-height: 500px;
    width: auto;
}
.portfolio__gallery .image-gallery-thumbnail{
    width: auto;
    height: 100px;
}
.portfolio__gallery .image-gallery-thumbnail img {
    width: auto;
    height: 96px;
}

.portfolio__gallery .image-gallery-thumbnail.active {
    border: none;
    border-bottom: 3px solid #337ab7;
}

@media screen and (max-width: 400px) {
    .portfolio{
        padding: 25px 0;
    }

    .portfolio__accordion{
        margin-top: 10px;
    }

    .portfolio__gallery .image-gallery-slide img {
        max-height: 250px;
    }
}