.header-part{
    color: #fff;
    padding-top: 30px;
    background-blend-mode: overlay;
    background-size: 15%;
}

.header-part__logo{
    margin-top: 25px;
}

.header-part__phone{
    display: inline-block;
    margin-right: 15px;
}

.App__top_sticky .header-part__logo{
    margin-top: 10px;
}

.App__top_sticky .header-part .ui.grid>.row {
    padding-top: 0px;
}

.App__top_sticky .nav .ui.menu.nav__menu .nav__item{
    padding-bottom: 10px;
    padding-top: 5px;
}

@media screen and (max-width: 400px) {
    .header-part{
        padding-top: 0px;
    }

    .header-part .ui.grid{
        margin-top: 10px;
    }

    .header-part__logo {
        text-align: center;
        margin-bottom: 10px;
    }

    .header-part__phone {
        width: 55%;
        text-align: left;
        margin-left: -1rem;
        margin-right: 0;
    }
}