.contacts {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f9f9+0,f6f6f6+71,ededed+100 */
    background: #f8f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f8f9f9 0%, #f6f6f6 71%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f8f9f9 0%,#f6f6f6 71%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f8f9f9 0%,#f6f6f6 71%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9f9', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    padding: 50px 0 30px;
}
.contacts__map {
    margin-top: 30px;
}

.contacts__calling-time {
    font-size: .9em;
}

@media screen and (max-width: 400px) {
    .contacts__contact {
        font-size: 1.3em;
        padding-bottom: 0 !important;
    }

    .contacts__contact--with-hint {
        display: flex !important;
        align-items: flex-end;
    }

    .contacts__phone-link{
        white-space: nowrap;
    }
    .contacts__calling-time {
        padding-left: 10px;
        padding-right: 45px;
        font-size: .6em;
        line-height: 1.1em;
    }
}